<div id="wrapper">
<div id="contents">
  <h3 class="c_align">Add Specs</h3>
  <%= form_tag( "/products/create/confirm", method: "post" ) do %>
    <input type="hidden" name="spec_keys" value="<%= @spec_keys %>" />
    <table class="center">
      <tr>
	<th class="c_align">Spec</th>
	<th>Details</th>
	<th>Display Type</th>
      </tr>
      <% @item_specs.each_with_index do | spec, i | %>
	<tr class="specs">
	  <td class="c_align"><b><%= spec %> <%= "(#{@metric[i]})" if @metric[i]!="nil" %>:</b></td>
	  <td><input type="text" value="" name="<%= spec %>" size="15"/></td>
	  <td>
	    <%= " Dropdown " if @type[i] == "0" %>
	    <%= " Checkbox " if @type[i] == "1" %>
	    <%= " Range " if @type[i] == "2" %>
	    <input type="hidden" name="<%= spec %>_display_type" value="<%= @type[i] %>"/>
	  </td>
	</tr>
      <% end %>
      <tr>
	<td class="btn c_align" colspan="3">
	  <input type="submit" value="Confirm" class="btn" />
	</td>
      </tr>	
    </table>
  <% end %>
</div> <!-- contents -->
</div> <!-- wrapper -->
