<div id="wrapper">
<div id="contents">
  <h3 class="c_align">Add Specs</h3>
  <%= form_tag( "/products/edit/confirm", method: "post" ) do %>
    <input type="hidden" name="spec_keys" value="<%= @spec_keys %>" />
    <table class="center">
      <tr>
	<th class="c_align">Spec</th>
	<th>Details</th>
	<th>Display Type</th>
      </tr>
      <% @item_specs.each_with_index do | spec, i | %>
	<tr class="specs">
	  <td class="c_align"><b><%= spec %> <%= "(#{@metric[i]})" if @metric[i]!="nil" %>:</b></td>

	  <% if @spec_changed == 1 %>
	    <td><input type="text" value="" name="<%= spec %>" size="15"/></td>
	  <% else %>
	    <td><input type="text" value="<%= @specs[spec][:content] %>" name="<%= spec %>" size="15"/></td>
	  <% end %>

	  <td>
	    <%= " Dropdown " if @type[i] == "0" %>
	    <%= " Checkbox " if @type[i] == "1" %>
	    <%= " Range " if @type[i] == "2" %>
	    <input type="hidden" name="<%= spec %>_display_type" value="<%= @type[i] %>"/>
	  </td>
	</tr>
      <% end %>
      <tr>
	<td class="btn c_align" colspan="2">
	  <input type="submit" value="Confirm" class="btn" />
	</td>
      </tr>	
    </table>
  <% end %>
</div> <!-- contents -->
</div> <!-- wrapper -->

<script>
$(".specs .display_type").each(function() {
  displayType = $(this).find(":selected").val();
  spec = $(this).attr("data-id");

  setMetric(displayType, spec);
});

$(".specs .display_type").change(function() {
  displayType = $(this).val();
  spec = $(this).attr("data-id");

  setMetric(displayType, spec);
});

function setMetric (displayType, spec) {
  metricClass = "." + spec + "_metric";

  if ( displayType == 2 ) {
    $(metricClass).removeAttr('disabled').css("background-color","yellow");
  } else {
    $(metricClass).attr('disabled','disabled').css("background-color","#d4d4d4");
  }
}
</script>
