<div id="wrapper">
<div id="container">
  <div id="side_menu">
    <h3>カテゴリー</h3>
    <ul id="menu-v">
    <% @items.each do | item | %>
      <li>
	<a href="/products/list/<%= params[:cat_id] %>/<%= item[:item_code] %>"><%= item[:name] %></a>
      </li>
    <% end %>
  </div>

  <div id="content_products">
    <div class="c_align">
      <h2>Products Tool</h2>
      <a href="/products/create" class="a_btn">Add New Product</a>
    </div>
    
    <div class="item_name"><h3><%= @item[:name] %></h3></div>
    <div class="item_desc"><%= @item[:description] %> </div>

    <div class="search_box">
      <h3>詳細検索</h3><hr>
      <%= form_tag( "/products/list/#{params[:cat_id]}/#{params[:item_code]}", method: "get", id: "keyword_form" ) do %>
	<div class="c_align">
	  <input type="text" name="keyword" class="keyword_input" placeholder="Type in keyword..." 
	    value="<%= params[:keyword] if params[:keyword].present? %>"/>
	  <input type="submit" class="keyword_search_btn" value="Search" />
	</div>
      <% end %> <br>

      <%= form_tag( "/products", method: "get", id: "search_form" ) do %>
	<table class="tbl_common center" border="0">
	  <tr>
	    <td class="label">メーカー名</td>
	    <td><input type="text" name="maker" value="<%= params[:maker] if params[:maker].present? %>" size="52"/></td>
	  </tr>
	  <tr>
	    <td class="label">商品名</td>
	    <td><input type="text" name="product" value="<%= params[:product] if params[:product].present? %>" size="52"/></td>
	  </tr>
	  <% i = 0 %>
	  <% @specs.each do | spec, contents | %>
	    <tr>
	      <td class="label"><%= spec %></td>
	      <td>
		<% if @type[i].to_i == 0 %>
		  <select name="<%= spec %>" class="spec">
		    <option value="">-</option>
		    <% contents.each do | content | %>
		      <option value="<%= content %>"><%= content %></option>
		    <% end %>
		  </select>
		<% elsif @type[i].to_i == 1 %>
		  <% contents.each do | content | %>
		    <input type="checkbox" name="<%= spec %>[]" value="<%= content %>"/>
		    <%= content %>
		  <% end %>
		<% elsif @type[i].to_i == 2 %>
		    <input type="input" name="<%= spec %>[]" value="" size="3"/> ~ 
		    <input type="input" name="<%= spec %>[]" value="" size="3"/>
		    <%= @metric[i] %>
		<% end %>
	      </td>
	    </tr>
	    <% i += 1 %>
	  <% end %>
	  <tr>
	    <td colspan="2" align="center">
	      <br><input type="submit" value="検索する" class="btn search"/>
	    </td>
	  </tr>
	</table>
      <% end %>
    </div>

    <div class="search_results">
      <h3 align="left">
	検索結果 <span class="results_count">(<%= @products.count %> total items)</span>
      </h3><hr>

      <% if @products.count == 0 %>
	<span class="no_results">No results</span>
      <% end %>

      <% @products.each_with_index do | item, i | %>
	<table class="tbl_results" border="0">
	  <tr class="item_<%= item[:product_id] %>">
	    <td class="col1">
	      <input type="button" class="delete_item" data-id="<%= item[:product_id] %>" value="x" />
	      <p class="img"><a href="/products/<%= item[:product_id] %>/edit"><%= image_tag item[:img_src], width: "100", height: "100", id: "item_img" %></a><p>
	    </td>
	    <td class="col2">
	      <p class="name"><a href="/products/<%= item[:product_id] %>/edit"><%= item[:name] %></a></p>
	      <p class="maker_name"><b><%= item[:maker_name] %></b></p>
	      <p class="specs">
	      <% item[:specs].each do | k, v| %>
		[ <span class="key"> <%= k %> : </span>
		<span class="val"><%= v[:content] %></span> ]
	      <% end %>
	      </p>
	      <p class="description"><%= item[:description] %></p>
	    </td>
	    <td class="col3">
	      <% unless item[:msds_link].blank? %>
		<p class="msds">
		  <a href="<%= item[:msds_link] %>" target="blank">MSDS</a>
		</p>
	      <% end %>

	      <% unless item[:orange_catalog_link].blank? %>
		<p class="orange_catalog"> 
		  <a href="<%= item[:orange_catalog_link] %>" target="blank">オレンジブックカタログ</a>
		</p>
	      <% end %>

	      <% unless item[:details_links].blank? %>
		<p class="links">
		  <a href="<%= item[:details_links] %>" target="blank">詳細資料</a>
		</p>
	      <% end %>
	    </td>
	  </tr>
	</table>
      <% end %>
    </div>
  </div> <!-- content_shop -->
</div> <!-- container -->
</div> <!-- wrapper -->

<script type="text/javascript">

$('.delete_item').click(function() {
  var product_id = ($(this).attr('data-id')); //get attributes of clicked item

  if (confirm("Are you sure you want to delete this item?")) {
    $.post("/products/delete", { 'id': product_id}); //send post request
    $(".item_" + product_id).remove(); //remove item upon deletion
  }
  return false; //do nothing
});

$('.edit_item').click(function() {
  var shop_id = ($(this).attr('data-id'));
  window.location.href = "/shops/"+shop_id+"/edit"; //redirect to assigned url
});

</script>
